<!DOCTYPE html>
<html>
    <head>
        <title>Advertisements</title>

        <link rel="shortcut icon" href="#">
    </head>
    <body>
        {{>header}}
        
        <div id="AdTimeLine">
                    {{#each ads}}
                        <div>
                            <h2>{{topic}}</h2>
                            <p>{{description}}</p>
                        </div>
                    {{/each}}
                </div>
        {{>footer}}
    </body>

    
</html>
