<!DOCTYPE html>
<html>
    <head>
        <title>Advertisements</title>
    </head>
    <body>
        {{>header}}

        <form>
            <input id="email" placeholder="email">  
            <input id="password" type="password" placeholder="heslo">

            <button id="login">Přihlásit se</button>

        </form>   
        {{>footer}}
        
        
    </body>
</html>
