<!DOCTYPE html>
<html>
    <head>
        <title>Advertisements</title>
    </head>
    <body>
        {{>header}}

        <h1>Funguju</h1>
        {{>footer}}
        
        
    </body>
</html>
